<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Login page</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/index.css" th:href="@{/css/index.css}" />
    <link rel="stylesheet" href="/css/buttons.css" th:href="@{/css/buttons.css}" />
    <script type="text/javascript" th:src="@{/js/index.js}" ></script>
</head>
<body>
<div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
    Logged in user: <span sec:authentication="name"></span> |
    Roles: <span sec:authentication="principal.authorities"></span>
    <div>
        <form th:action="@{/logout}" method="post">
            <input class="logout" type="submit" value="Logout" />
        </form>
    </div>
</div>
<div class="login-page" sec:authorize="!isAuthenticated()">
    <div class="form">
        <form id="register-form">
            <h1>Registration</h1>
            <input type="text" id="regEmail" name="email" placeholder="email address"/>
            <input type="password" id="regPassword" name="password" placeholder="password"/>
            <p id="errors" style="color: red"></p>
            <button type="button" id="registerBtn">create</button>
            <p class="message">Already registered? <a href="#" id="signinMes">Sign In</a></p>
        </form>
        <form id="login-form" th:action="@{/login}" method="post">
            <h1>Log in</h1>
            <p th:if="${param.logout}" style="color: green">You have been logged out.</p>
            <input type="text" id="logEmail" name="email" placeholder="email address"/>
            <input type="password" id="logPassword" name="password" placeholder="password"/>
            <p th:if="${param.error}" style="color: red;">Wrong email or password</p>
            <button type="submit">login</button>
            <p class="message">Not registered? <a href="#" id="createMes">Create an account</a></p>
        </form>
    </div>
</div>
</body>
</html>